<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549682836299-53l9ebcqj26ibopnogq536sp64ne3i3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549682836299-53l9ebcqj26ibopnogq536sp64ne3i3a</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ2RI1kwsMc4F0BmQ4npxkmpbAGX0w6cE</string>
	<key>GCM_SENDER_ID</key>
	<string>549682836299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lufthansa</string>
	<key>PROJECT_ID</key>
	<string>lufthansa-9ef97</string>
	<key>STORAGE_BUCKET</key>
	<string>lufthansa-9ef97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549682836299:ios:1875800776d12ad1db6ece</string>
</dict>
</plist>